{% extends 'base.html' %}
{% load static %}

{%block titulo%} HOME {%endblock titulo%}

{%block contenido%}
<h1 style="color: hsl(0, 100%, 25%); font-family: 'Calibri', sans-serif; font-size: 3em; font-weight: bold; text-decoration: underline;">CineCultura</h1>
<br>
<br>
<br>
<h2 style="color: hsl(0, 100%, 25%); font-family: 'Calibri', sans-serif;">¡BIENVENIDO AL MUNDO DEL CINE Y LA CULTURA!</h2>
    
</svg>
</svg>
<br>
<br>
    
  <p><img src= {% static 'img/im.jpg' %} alt="error" height="370px"></p>
  <br>
  <br>
  <h1 style="color: hsl(0, 100%, 25%); font-family: 'Calibri', sans-serif";> Este es el inicio de nuestro Blog</h1>

<br>
<br>

{% endblock contenido %}
  
