
{% extends 'base.html' %}
{% load static %}

{%block titulo%} NOSOTROS {%endblock titulo%}

{% block contenido %}
<h1>Objetivo del blog</h1>
<p>Este blog se ha creado con la intención de ofrecer a los usuarios información precisa, interesante y actualizada sobre el fascinante mundo del cine y la cultura. Nos enfocamos en proporcionar reseñas de películas, noticias relevantes del mundo del entretenimiento, análisis de tendencias cinematográficas, cobertura de festivales, debates sobre temas culturales y mucho más. Nuestro objetivo es ser una fuente confiable y completa para los amantes del cine y aquellos interesados en explorar la diversidad cultural a través del arte cinematográfico.</p>
<hr>
<h1>Abarca temas como:</h1>
<p>Reseñas de películas</p>
<p>Noticias de entretenimiento</p>
<p>Análisis de tendencias cinematográficas</p>
<p>Cobertura de festivales</p>
<p>Debates sobre temas culturales</p>
<p>Y mucho más...</p>

<hr>
<div class="col-lg-12">

    <article >
        <div class="container" data-aos="fade-up">
          <div class="row">
            <div class="col-12 text-center mb-2">
              <div class="row justify-content-center">
                <div class="col-lg-12">
                  <h2 class="display-4" id="posicion" style="color: #e91c1c;">Nuestro equipo</h2>
                  <p id="posicion" style="color: #aa1e1e;">Nuestro grupo conformado por, Nichiporuk Jordan Agustin, Mauricio Maximiliano Galarza Mora ,llevamos a cabo este proyecto con tematica Cine y Cultura </p>
                </div>
              </div>
            </div>
            <div id="posicion2" class="col-lg-6 text-center mb-0">
              <img src="assets/img/person-1.jpg" alt="" class="img-fluid rounded-circle w-50 mb-4">
              <h4 style="color: #e91c1c;">Nichiporuk,Jordan Agustin</h4>
              
            </div>
            <div id="posicion2" class="col-lg-6 text-center mb-0">
              <img src="assets/img/person-2.jpg" alt="" class="img-fluid rounded-circle w-50 mb-4">
              <h4 style="color: #e91c1c;">Mauricio Maximiliano Galarza Mora</h4>
              

            </div>
          </div>
        </div>
    </article>
  
{%endblock contenido%}    
