.contenedor{
    background-color: rgb(130, 79, 79);
    
}
* {
    text-align: center;
}

card {
    text-align: center;
}

body {
    background-color: #d3d3d3; 
  }
  
.form{

    position: relative;
}

.form .fa-search{

    position: absolute;
    top:20px;
    left: 20px;
    color: #bf1f1f;

}

.form span{

        position: absolute;
    right: 17px;
    top: 13px;
    padding: 2px;
    border-left: 1px solid #7b7b7b;

}

.left-pan{
    padding-left: 7px;
}

.left-pan i{

   padding-left: 10px;
}

.form-input{

    height: 55px;
    text-indent: 33px;
    border-radius: 10px;
}

.form-input:focus{

    box-shadow: none;
    border:none;
}

#icono-izquierda {
    text-align: left;
}

.color {color:rgb(0, 0, 0); }
.instagram-link {color:rgb(255, 0, 102); }

.square-item {
    /* Para que cada elemento ocupe solo el espacio que necesita */
    padding: 5px; /* Ajusta el relleno según sea necesario */
    border: 2px solid rgb(255, 0, 13); /* Define el borde y su color */
    border-radius: 1%; /* Ajusta el radio del borde para que sea un 2% más grande */
    margin: 12px; /* Espacio entre los elementos */
}

